.table-hover tbody tr:hover {
    background-color: #f8f9fa;
    transition: background 0.2s;
}

.text-success {
    color: #28a745 !important;
}

.text-dark {
    color: #000 !important;
}

.btn-sm {
    font-size: 0.8rem;
    padding: 0.25rem 0.5rem;
}

.table-responsive {
    border-radius: 0.5rem;
    overflow: hidden;
    background-color: #fff;
    border: 1px solid #dee2e6;
    padding: 0.5rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}